/* *{
    margin: 0;
    padding:0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
} */





.list-design{
    max-width: 700px;
    margin: 0px auto;
    max-height: calc(80vh - 80px);
    overflow: auto;
    
}







@media (max-width:768px){
    .list-design li{
        margin:0px 10px 10px;
    }
}