*{
    margin: 0;
    padding:0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.header-design{
    background-color: black;
    color: #fff;
    text-align: center;
    padding:10px 0px;
}

.container{
   max-width: 800px;
    margin: 0px auto;
    background-color: hsl(240deg 32.8% 24.51%);;
    margin-top: 20px;
    border: 1px solid #c3c2c2;
}
.todoitem{
    display: flex;
    justify-content: center;
    padding:20px;
}
.todoitem input{
    padding:10px;
    width:80%;
    border: none;
    outline: none;
    border-radius: 4px 0px 0px 4px;
}
.todoitem button{
    width:100px;
    background-color: black;
    color: white;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius:0px 4px 4px 0px;
    cursor: pointer;
}
.list-design{
    max-width: 700px;
    margin: 0px auto;
    max-height: calc(80vh - 80px);
    overflow: auto;
    
}

.list-design li{
 list-style: none;
 background-color: hsl(241.88deg 21.33% 29.41%);
 list-style: none;
background-color: hsl(241.88deg 21.33% 29.41%);
color: #fff;
margin-bottom: 10px;
padding: 4px 20px;
border-radius: 12px;
justify-content: space-between;
display: flex;
align-items: center;
}

.list-design li button{
    background: none;
    border:none;
    font-size: 30px;
    vertical-align: middle;
    color: red;
    cursor: pointer;
}

.list-design li span{
    color: green;
    font-size:30px;
    position: relative;
    top: 3px;
}